<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakai._04mybatis.mapper.CommentMapper">
    
    <insert id="insert">
        INSERT INTO blog.comment(CONTENT, CREATED, USER_ID, WEIBO_ID)
        VALUES (#{content}, #{created}, #{userId}, #{weiboId})
    </insert>
    <delete id="delete">
        DELETE FROM blog.comment WHERE id = #{id}
    </delete>
    <update id="update">
        UPDATE blog.comment SET content = #{content},created = #{created} WHERE id =#{id}
    </update>
    <select id="select1">
        SELECT content,user_id userId,weibo_id weiboId FROM blog.comment WHERE id = #{id}
    </select>
    <select id="select2">
        SELECT content, user_id userId
        FROM blog.comment
        WHERE weibo_id = #{id}
    </select>

</mapper>
