<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakai._05mvcboot02.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO mvcdb.user(username, password, nickname, created)
        VALUES (#{username}, #{password}, #{nickname}, #{created})
    </insert>

    <select id="selectUser" resultType="com.sakai._05mvcboot02.pojo.vo.UserListVO">
        SELECT username, password
        FROM mvcdb.user
    </select>

    <delete id="deleteUser">
        DELETE
        FROM mvcdb.user
        WHERE id = #{id}
    </delete>

    <update id="updateUser">
        UPDATE mvcdb.user
        <set>
            <if test="username!=null">username = #{username},</if>
            <if test="password!=null">password = #{password},</if>
            <if test="nickname!=null">nickname = #{nickname},</if>
            <if test="created!=null">created = #{created}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>